* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}

#body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(175, 203, 118);
  background-attachment: fixed;
  font-family: "poppins", sans-serif;
  overflow-x: hidden;
}

#navbar.navbar {
  background-color: rgba(1, 48, 1, 0.134);
  border-bottom: 0.5px dashed rgba(244, 13, 5, 0.182);
  position: fixed;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#logo {
  text-decoration: none;
  color: rgb(2, 112, 2);
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  padding: 0 10px;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-family: "poppins", sans-serif;
  font-weight: 600;
}

.navbar ul li a:hover,
.navbar ul li a:focus,
.navbar ul li a:active {
  color: rgb(240, 3, 3);
}

.home {
  width: 100%;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.home-content {
  width: 100%;
  padding: 150px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  
}



span.heading {
  font-size: 48px;
  color: rgb(240, 3, 3);
  font-family: "poppins", sans-serif;
  padding: 10px 0px;
}

span.sub-heading {
  font-size: 36px;
  color: white;
  font-family: "poppins", sans-serif;
}

.intro-img {
  width: 100%;
}

.intro-img img {
  width: 100%;
  border-radius: 50px;
}

.btn {
  width: 200px;
  padding: 15px;
  border: none;
  border-radius: 11px;
  outline: 2px solid rgb(240, 3, 3);
  box-shadow: 0px 0px 10px rgb(1, 42, 1);
}
.btn:hover {
  background-color: rgb(240, 3, 3);
  color: white;
  rotate: 3deg;
}
.btn a {
  text-align: center;
  text-decoration: none;
  color: rgb(1, 42, 1);
  font-size: 18px;
}
.btn a:hover {
  color: white;
}

/*about us*/
.about-us {
  width: 100%;
  padding: 100px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.about-us h1 {
  font-size: 36px;
  color: rgb(1, 42, 1);
}

.about-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
  align-items: center;
  width: 100%;
  margin: 0px 150px;
  padding: 10px;
  gap: 30px;
}
.about-content .jacky,
.about-content .lucky {
  justify-self: center;
  align-self: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.about-content .jacky p,
.about-content .lucky p {
  text-align: justify;
  font-size: 18px;
  color: rgb(1, 36, 1);
  font-family: "poppins", sans-serif;
  padding: 5px;
  margin: 5px;
  width: auto;
}
.about-content .jacky img,
.about-content .lucky img {
  width: 80%;
  border-radius: 10px;
  margin: 20px;
  border: none;
}

/*favourites*/
.favourites {
  width: 100%;
  padding: 20px;
  align-items: center;
}

.favourites h1 {
  text-align: center;
  padding: 50px 0px;
  font-size: 36px;
  color: rgb(1, 42, 1);
}

#cardslide {
  display: flex;
  gap: 5px;
}
#cardslide img {
  float: right;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(1, 42, 1);
  height: 400px;
}

/* Modal popup styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #02a262;
  margin: 15% auto;
  padding: 20px;
  border: 3px solid #02a262;
  width: 80%;
  max-width: 300px;
  border-radius: 30px;
}

.close {
  color: #02a262;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.error-message {
  color: red;
  font-size: 0.8em;
  margin-top: 0.2em;
}

@media screen and (max-width: 767px) {
  body {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overlay: hidden;
  }
  .navbar {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar h1 a {
    text-decoration: none;
    color: rgb(1, 42, 1);
  }
  .navbar ul {
    display: inline-block;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .navbar ul li {
    padding: 0 10px;
  }
  .navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: "poppins", sans-serif;
    font-weight: 600;
  }
  .navbar ul li a:hover,
  .navbar ul li a:focus,
  .navbar ul li a:active {
    color: rgb(240, 3, 3);
  }
  /*home page*/
  .home {
    padding: 150px 0px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home-content {
    width: 100%;
    margin: 100px 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .intro {
    align-self: center;
    width: auto;
    margin: 10px;
  }
  span.heading {
    font-size: 48px;
    color: rgb(240, 3, 3);
    font-family: "poppins", sans-serif;
    padding: 10px 0px;
  }
  span.sub-heading {
    font-size: 36px;
    color: white;
    font-family: "poppins", sans-serif;
  }
  .intro-img {
    max-width: 400px;
  }
  .intro-img img {
    width: 100%;
    padding: 10px;
    border-radius: 50px;
  }
  /*about*/
  .about-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 10px;
  }
  .about-content .jacky,
  .about-content .lucky {
    justify-self: center;
    align-self: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  .about-content .jacky p,
  .about-content .lucky p {
    text-align: justify;
    padding: auto;
  }
  .about-content .jacky img,
  .about-content .lucky img {
    width: 50%;
    border-radius: 50px;
    justify-self: center;
    align-self: center;
    border: none;
  }
}
.intro-img img {
  width: 100%;
  padding: 10px;
  border-radius: 50px;
}

/*about*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overlay: hidden;
  }
}
.container1 {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  float: left;
  width: 50%;
  border: 2x solid #120f0f;
  border-radius: 20px;
  background-color: gradient(to left, rgb(175, 203, 118), rgb(187, 43, 30));
}

.class {
  color: rgb(120, 9, 9);
}

.container1 img {
  width: 500px;
  height: 400px;
  border-radius: 20px;
}

.co h2 {
  text-align: left;
  font-size: 30px;
  font-family: poopins;
  color: #120f0f;
  padding: 10px;
  margin-top: -10px;
  margin-left: 10px;
  margin-bottom: 20px;
}

.rating p {
  font-weight: bold;
}

.rating {
  font-size: 20px;
  color: #102102;
  margin-left: 10px;
  margin-top: 50px;
  font-family: poopins;
  border: 2px dashed #120f0f;
  width: 500px;
  border-radius: 10px;
  padding: 10px;
  height: 150px;
}

.rate {
  margin-left: 350px;
  width: 100px;
  margin-top: -10px;
  font-family: poopins;
  border: none;
  border-radius: 10px;
  padding: 5px;
  background-color: rgb(185, 25, 8);
  color: #f6f0f0;
  padding: 15px;
  font-weight: 500;
}

.rate:hover {
  transform: scale(1.2);
}

.container2 {
  float: right;
  width: 40%;
  margin-right: 10%;
  padding: 50px;
  border-radius: 50px;
  shape-outside: 2px dashed #120f0f;
  border-right: 2px dashed #120f0f;
}

.container2 h2 {
  text-align: center;
  font-size: 30px;
  font-family: poopins;
  color: #120f0f;
  padding: 10px;
  margin-top: -10px;
  margin-left: 10px;
  margin-bottom: 20px;
}

.container2 p {
  text-align: justify;
  margin-right: 50px;
  border-radius: 50px;
  color: #102102;
  letter-spacing: 1.15px;
  line-height: 24px;
  font-size: 18px;
  font-family: "poppins", sans-serif, poopins;
  font-weight: 500;
}

#container2 {
  background-color: transparent;
}

#btns {
  display: grid;
  grid-gap: 10px;
  width: 400px;
  height: 150px;
  border-radius: 10px;
  margin-top: 100px;
  white-space: 10px;
  color: white;
  background-color: gradient(to right, rgb(175, 203, 118), rgb(187, 43, 30));
}

#btns button {
  background-color: green;
  border-radius: 10px;
  color: white;
  border: none;
  padding: 10px;
  box-shadow: 2px 2px 10px #120f0f;
}

#btns button:hover {
  transform: scale(1.2);
  background-color: red;
}

.contact-us {
  margin: 0;
  padding: 30px;
  background-color: rgb(1, 42, 1);
}
.contact-us h1 {
  text-align: center;
  font-size: 30px;
  font-family: "poppins", sans-serif;
  color: rgb(175, 203, 118);
}

#footerNav li a {
  text-decoration: none;
  color: rgb(175, 203, 118);
  text-align: justify;
}
#footerNav li a:hover {
  color: rgb(240, 3, 3);
}

#adress {
  background-color: rgb(175, 203, 118);
}

/*# sourceMappingURL=style.css.map */